* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
  font-family: 'Montserrat', "calibri", sans-serif;
}



/* ====================  
CSS responsible for background color 
====================  */


.container__all {
    width: 100%;
    min-height: 100vh;

    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
}


/* ====================  
CSS responsible for top Navbar 
====================  */


a:active, a {
    text-decoration: none;
    color: white;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 6rem;
  background-color: rgba(4, 12, 24, 0.8);
  z-index: 20;
}

.navbar__logo {
    font-size: 2.5rem;
    padding-left: 6rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__main {
    font-size: 2.5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    font-weight: bold;
}

.navbar__icons {
    font-size: 2.5rem;
    padding-right: 6rem;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.navbar__icons--img {
  width: 50px;
  height: 50px;
}


/* ====================  
CSS responsible for section headers
====================  */

.section__header {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 4rem;
  /* padding: 10rem 0; */
  font-weight: bold;
}

.grow { 
  transition: all .2s ease-in-out; 
}

.grow:hover { 
  transform: scale(1.2); 
  color: #5bd4b4;
}




/* ====================  
CSS responsible for HOME section 
====================  */


.container__home {
    padding-top: 6rem;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content:space-around;
    align-items: center;
    min-height: 100vh;
}

.home__text {
  font-size: 3rem;
}

.home__image {
  z-index: 10;
}

.home__image--img {
  width: 30vw;
  max-width: 600px;
}


/* ====================  
CSS responsible for ABOUT section 
====================  */

.container__about {
  padding-top: 6rem;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content:space-around;
  align-items: center;
  gap: 2rem;
  padding: 0 6rem;
  min-height: 100vh;
}

.about__image {
  z-index: 10;
}

.about__image--img {
  max-width: 600px;
}

.about__text {
    color: white;
    font-size: 2.5rem;
    padding: 0 2rem;
    max-width: 1400px;
    display: flex;
    justify-content: center;
}

/* css for skills section */

.container__skills {
  padding-top: 6rem;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content:space-around;
  align-items: center;
  gap: 2rem;
  padding: 0 6rem;
  min-height: 100vh;
}

.skills__text {
  color: white;
  font-size: 2.5rem;
  padding: 0 2rem;
  max-width: 1400px;
  display: flex;
  justify-content: center;
}

/* css for spinning cube */

.icons__techcube {
  width: 200px;
  height: 200px;
}

.stage-cube-cont {
  width: 50%;
  height: 100%;
  top: 0;
  padding: 18%;
  margin-left: 0;
  position: relative;
  right: 0;
  left: 100;
  /* overflow: hidden; */
  justify-content: end;
  display: flex;
}

.cubespinner {
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  transform-style: preserve-3d;
  transform-origin: 100px 100px 0;
  margin-left: calc(50% - 100px);
}

.face {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  background: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px 0px lightyellow;
}

.face1 {
  transform: translateZ(100px);
  color: #dd0031;
}
.face2 {
  transform: rotateY(90deg) translateZ(100px);
  color: #f06529;
}
.face3 {
  transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
  color: #28a4d9;
}
.face4 {
  transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
  color: #5ed4f4;
}
.face5 {
  transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
  color: #efd81d;
}
.face6 {
  transform: rotateX(-90deg) translateZ(100px);
  color: #ec4d28;
}


@keyframes spincube {
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateX(0deg);
  }
  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    transform: rotateY(-270deg) rotateX(90deg);
  }
  83% {
    transform: rotateX(90deg);
  }
}


/* ====================  
CSS responsible for background animation 
====================  */


.light {
    position: absolute;
    width: 0px;
    opacity: .75;
    background-color: white;
    box-shadow: #e9f1f1 0px 0px 20px 2px;
    opacity: 0;
    top: 100vh;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}

.x1{
    -webkit-animation: floatUp 4s infinite linear;
    -moz-animation: floatUp 4s infinite linear;
    -o-animation: floatUp 4s infinite linear;
    animation: floatUp 4s infinite linear;
     -webkit-transform: scale(1.0);
     -moz-transform: scale(1.0);
     -o-transform: scale(1.0);
    transform: scale(1.0);
  }
  
  .x2{
    -webkit-animation: floatUp 7s infinite linear;
    -moz-animation: floatUp 7s infinite linear;
    -o-animation: floatUp 7s infinite linear;
    animation: floatUp 7s infinite linear;
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -o-transform: scale(1.6);
    transform: scale(1.6);
    left: 15%;
  }
  
  .x3{
    -webkit-animation: floatUp 2.5s infinite linear;
    -moz-animation: floatUp 2.5s infinite linear;
    -o-animation: floatUp 2.5s infinite linear;
    animation: floatUp 2.5s infinite linear;
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    -o-transform: scale(.5);
    transform: scale(.5);
    left: -15%;
  }
  
  .x4{
    -webkit-animation: floatUp 4.5s infinite linear;
    -moz-animation: floatUp 4.5s infinite linear;
    -o-animation: floatUp 4.5s infinite linear;
    animation: floatUp 4.5s infinite linear;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    left: -34%;
  }
  
  .x5{
    -webkit-animation: floatUp 8s infinite linear;
    -moz-animation: floatUp 8s infinite linear;
    -o-animation: floatUp 8s infinite linear;
    animation: floatUp 8s infinite linear;
    -webkit-transform: scale(2.2);
    -moz-transform: scale(2.2);
    -o-transform: scale(2.2);
    transform: scale(2.2);
    left: -57%;
  }
  
  .x6{
    -webkit-animation: floatUp 3s infinite linear;
    -moz-animation: floatUp 3s infinite linear;
    -o-animation: floatUp 3s infinite linear;
    animation: floatUp 3s infinite linear;
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -o-transform: scale(.8);
    transform: scale(.8);
    left: -81%;
  }
  
  .x7{
    -webkit-animation: floatUp 5.3s infinite linear;
    -moz-animation: floatUp 5.3s infinite linear;
    -o-animation: floatUp 5.3s infinite linear;
    animation: floatUp 5.3s infinite linear;
    -webkit-transform: scale(3.2);
    -moz-transform: scale(3.2);
    -o-transform: scale(3.2);
    transform: scale(3.2);
    left: 37%;
  }
  
  .x8{
    -webkit-animation: floatUp 4.7s infinite linear;
    -moz-animation: floatUp 4.7s infinite linear;
    -o-animation: floatUp 4.7s infinite linear;
    animation: floatUp 4.7s infinite linear;
    -webkit-transform: scale(1.7);
    -moz-transform: scale(1.7);
    -o-transform: scale(1.7);
    transform: scale(1.7);
    left: 62%;
  }
  
  .x9{
    -webkit-animation: floatUp 4.1s infinite linear;
    -moz-animation: floatUp 4.1s infinite linear;
    -o-animation: floatUp 4.1s infinite linear;
    animation: floatUp 4.1s infinite linear;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    left: 85%;
  }

  @-webkit-keyframes floatUp{
    0%{top: 100vh; opacity: 0;}
    25%{opacity: 1;}
    50%{top: 0vh; opacity: .8;}
    75%{opacity: 1;}
    100%{top: -100vh; opacity: 0;}
  }
  @-moz-keyframes floatUp{
    0%{top: 100vh; opacity: 0;}
    25%{opacity: 1;}
    50%{top: 0vh; opacity: .8;}
    75%{opacity: 1;}
    100%{top: -100vh; opacity: 0;}
  }
  @-o-keyframes floatUp{
    0%{top: 100vh; opacity: 0;}
    25%{opacity: 1;}
    50%{top: 0vh; opacity: .8;}
    75%{opacity: 1;}
    100%{top: -100vh; opacity: 0;}
  }
  @keyframes floatUp{
    0%{top: 100vh; opacity: 0;}
    25%{opacity: 1;}
    50%{top: 0vh; opacity: .8;}
    75%{opacity: 1;}
    100%{top: -100vh; opacity: 0;}
  }

  @-webkit-keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
  }
  
  @-moz-keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
  }
  
  @-o-keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
  }
  
  @keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
  }
  
  @-webkit-keyframes fadeOut{
    0%{opacity: 0;}
    30%{opacity: 1;}
    80%{opacity: .9;}
    100%{opacity: 0;}
  }
  
  @-moz-keyframes fadeOut{
    0%{opacity: 0;}
    30%{opacity: 1;}
    80%{opacity: .9;}
    100%{opacity: 0;}
  }
  
  @-o-keyframes fadeOut{
    0%{opacity: 0;}
    30%{opacity: 1;}
    80%{opacity: .9;}
    100%{opacity: 0;}
  }
  
  @keyframes fadeOut{
    0%{opacity: 0;}
    30%{opacity: 1;}
    80%{opacity: .9;}
    100%{opacity: 0;}
  }
  
  @-webkit-keyframes finalFade{
    0%{opacity: 0;}
    30%{opacity: 1;}
    80%{opacity: .9;}
    100%{opacity: 1;}
  }
  
  @-moz-keyframes finalFade{
    0%{opacity: 0;}
    30%{opacity: 1;}
    80%{opacity: .9;}
    100%{opacity: 1;}
  }
  
  @-o-keyframes finalFade{
    0%{opacity: 0;}
    30%{opacity: 1;}
    80%{opacity: .9;}
    100%{opacity: 1;}
  }
  
  @keyframes finalFade{
    0%{opacity: 0;}
    30%{opacity: 1;}
    80%{opacity: .9;}
    100%{opacity: 1;}
  }